*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;600;700;800;900&display=swap');
  :root{
    --bg-color:#10101a;
    --main-color:#2fbf71;
    --2nd-main-color:#ffffffcc;
    --text-color:#fff;
    --big-font:5rem;
    --h2-font:1.9rem;
    --p-font:1rem
}

body {
    
   
  background: #ff7979;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
@media(min-width:100%){
    body{
        background: #ef1f6e9;
        font-size: 14PX;
        font-weight: normal;
    }

}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right:0 ;
    z-index: 1000;
    display: flex;
    align-items:center ;
    justify-content: space-between;
    background: var(--bg-color);
    position: 24px 14%;
    transition: 3s;
}
.logo{
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 600;
}
.portfolio{
    color: red;
}
.navbar{
    display: flex;
}
.navbar a{
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 600;
}
.navbar a:hover{
    background: red;
    transition: .3s;
}
#menu-icon{
    font-size: 40%;
    z-index: 10001;
    cursor: pointer;
    display: none;
    color:white;

}
.bar1,.bar2,.bar3{
  width: 35PX;
  height: 5PX;
  background: white;
  margin: 6PX 0;
  transition: 0.4s;
}

.btn{
    background: red;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-size: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform.4s;
    }
    .btn:hover{
        transform: scale(1.2);
    }
nav{
    padding: 120px 14%;
}
/*section profil*/
 @media all and(min-width: 1024PX)and (max-width: 1280PX){

 }
.Profil{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6rem;
    align-items: center;
    float: right
}
h2{
     font-family: 'Rubik', sans-serif;
}
.social{
    transform: scale(1.1);
    font-size: 16PX;
    font-weight: 500;
    line-height: 24PX;
    padding: 8PX 30PX;

}


.contact form{
    width: 380px;
    max-width: 100%;
    position: relative;
    margin-bottom: 25;

}
.astou{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2PX solid #f9004d;
    outline: none;
    border-radius: 30px;
 }
 .astou{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    color: white;
    box-shadow: 0px 0px 5px #000,0px 15px #858585;
    top: 6px;
    right: 6px;
 }
 /*section formation*/
 #Formation{
     padding-top: 11px;
    padding: 11px;
    background: linear-gradient(black,#ff7979);
    color: unset;
  } 
  #Formation th{

    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
    background: grey;
} 
  #Formation td {
    border: 1px solid white;
    padding: 15px;
    text-align: center;
    color: crimson;
    font-size: 20PX;
    color: white;
    font-family: 'Rubik', sans-serif;
} 
table {
    border-collapse: separate;
    width: 100%;
    text-indent: initial;
    border-spacing: 2px;
}
h5{
    color: beige;
    font-size: 75PX;
    width: 100%;
    margin-bottom: 30PX;
    text-align: center;
     font-family: 'Rubik', sans-serif;
}
/*section competence*/
.boxe{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400PX;
}
.carde{
    height: 365PX;
    width: 335PX;
    padding: 20PX 35PX;
    border-color: transparent;
    border-radius:20PX ;
    margin: 15PX;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 1PX solid red;
}
.carde i{
    font-size: 50PX;
    display: block;
    text-align: center;
    margin: 25PX 0;
    color: black;
}
.Skill-baar{
    padding-top: 10PX;
    padding-bottom: 10PX;
    color: white;
}
 p{
    text-align: left;
    font-size: 18px;
    color:white;
    font-family: 'Rubik', sans-serif;
}
.Skill-boxe{
    text-align: right;
    width: 80%;
    background-color:pink;
    color: white;
}
.HTML{
    width: 80%;
    background-color: red;
}
.CSS{
    width: 70%;
    background-color: red;
}
.Javascript{
    width: 45%;
    background-color: red;
}

.Comptabilité{
    width: 90%;
    background-color: red;
}
.Disagne{
    width: 60%;
    background-color: red;

}
.Bureautique{
    width: 100%;
    background-color: red;
}
/*quaLité personnelle*/
P:hover{
     transform: scale(1.2);

}
nav{
     background: linear-gradient(black,#ff7979);
}
nav ul {
    list-style-type: none;
    margin-left: 40%;
    padding: 0;
}

nav ul li {
    --c: goldenrod;
    color: white;
    font-size: 16px;
    border: 0.3em solid pink;
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 4em;
    position: relative;
    overflow:hidden;
    z-index: 1;
    transition: 0.5s;
    margin:1em;

}

nav ul li span {
    position:absolute;
    width: 40%;
    height: 100%;
    background-color:hotpink;
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay:calc((var(--n) - 1) * 0.1s) ;
    z-index: -1;


}


nav ul li:hover {
    color:red;
}

nav ul li:hover span {
    transform:translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}
@media all and(min-width: 1024PX)and (max-width: 1280PX){
  
}
/*section Exprience*/

.Expérience{
background: linear-gradient(black,#ff7979);
    width: 100%;
    padding: 100PX 0PX;
     font-family: 'Rubik', sans-serif;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400PX;
}
.card{
    height: 365PX;
    width: 335PX;
    padding: 20PX 35PX;
    background: #191919;
    border-radius: 20PX;
    margin: 15PX;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50PX;
    display: block;
    text-align: center;
    margin: 25PX 0;
    color: red;
}


article{
    color:snow;
    font-size: 16PX;
    line-heiht: 27PX;
    margin-bottom: 25PX;
    font-size:25PX;
 } 

table ,th,td{
    border: 1PX solid black;
    text-align: center;
    font-size: 20PX;
    border-spacing: 5PX;
}
/* section reference*/

.Référence{
    background: linear-gradient(#ff7979,white);
    
}
.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
     font-family: 'Rubik', sans-serif;
}

img {
  height: auto;
  max-width: 70%;
  vertical-align: middle;
}
h6{
    color: white;
    text-align: center;
    font-size: 20PX;
    font-family: 'Rubik', sans-serif;
}
}
.btn{
    background: red;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-size: bold;
    padding: 10px 25px;
    border-radius: 10px;
    transition: transform.4s;
    }
    .btn:hover{
        transform: scale(1.2);
    }


.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

}
/*centre d'entret*/
.wrapper{
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}
.wrapper .center-line{
  position: absolute;
  height: 100%;
  width: 4px;
  background: #fff;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.wrapper .row{
  display: flex;
}
.wrapper .row-1{
  justify-content: flex-start;
}
.wrapper .row-2{
  justify-content: flex-end;
}
.wrapper .row section{
  background: #fff;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}
.wrapper .row section::before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}
.row-1 section::before{
  right: -7px;
}
.row-2 section::before{
  left: -7px;
}
.row section .icon,
.center-line .scroll-icon{
  position: absolute;
  background: #f2f2f2;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ff7979;
  font-size: 17px;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}
.center-line .scroll-icon{
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}
.row-1 section .icon{
  top: 15px;
  right: -60px;
}
.row-2 section .icon{
  top: 15px;
  left: -60px;
}
.row section .details,
.row section .bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row section .details .title{
  font-size: 22px;
  font-weight: 600;
}
.row section h1{
  margin: 10px 0 17px 0;
}
.row section .bottom a{
  text-decoration: none;
  background: #ff7979;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  transition: all 0.3s ease;
}
.row section .bottom a:hover{
  transform: scale(0.97);
}
@media(max-width: 790px){
  .wrapper .center-line{
    left: 40px;
  }
  .wrapper .row{
    margin: 30px 0 3px 60px;
  }
  .Centre .row section{
    width: 100%;
  }
  .row-1 section::before{
    left: -7px;
  }
  .row-1 section .icon{
    left: -60px;
  }

  }

  }
  /*section footer*/
 .footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
  text-align: center;
}
.cta-text span {
  color: red;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
footer,cta-text{
  color: #red;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  text-align: center;
}
.icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.icon i {
  height: 40px;
  width: 40%;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  color: red;
}
.facebook{
  background:white;
}
.twitter{
  background: white;
}
.instagram{
  background: white;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}


.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media(max-width: 1430PX){

header{
    padding: 25PX 3%;
}
section{
    padding: 50PX 3%;
}
:root{
    --big-font:4rem;
   --h2-font:1.2rem;
    
}
}
@media(max-width: 1020PX){
    :root{
    - -big-font:3rem;
   --h2-font:1.2rem;
    --p-font:O.9rem
    }
    .Profil{
        height: 70vh;
    }
}
@media(max-width: 830PX){
    header{
        padding: 18PX 3%;

    }
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 1%;
        left:0;
        right: 3;
        display: flex;
        flex-direction: column;
        background:#0b0b13;
        text-align: left;
        transition: 0.25 ease;
        margin-top: 10%;
        
    }
    .navbar a{
        display: block;
        padding: 1rem;
        border-left: 2PX solid var(--main-color);
    }

}
@media(max-width: 795PX){
.Profil{
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    text-align: center;
    margin-top: 80PX;
    height: vh;
}
h2{
    max-width: 100%;
}
img{
    max-width: 100%;
    width: 499;
    height: auto;
    order: 10PX;
}
}
#Formation{
    grid-template-columns: 1fr;
    text-align: center;

}
th{
    max-width: 100%;
}
td{
    max-width: 100%;
}

 P{
 max-width: 100%;
 color: deeppink;   

 }
 @media(max-width: 795PX){
    .carde{
        background: darkgrey;
    }
   .carde :hover {
    color:red;
}
.boxe{
    max-width: 100%;
    color: black;

 }
}


}





    





